<!DOCTYPE html>
<html class="no-js" lang="en">
  <%- include('partials/_head') -%>

  <body>
    <!--featured-cars start -->
    <%- include('partials/_navigation') -%>
    <section id="featured-cars" class="featured-cars" style="margin-top: 20px">
      <div class="container">
        <div class="section-header">
          <h2>admin login panel</h2>
        </div>
        <!--/.section-header-->
        <div class="featured-cars-content-search-page">
            <p>This is Admin</p>
        </div>
      <!--/.container-->
    </section>

    <%- include('partials/_footer') -%>
  </body>
</html>
